.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

.header-image {
  width: auto;
  transition: min-width 1s, max-width 1s;
}
.header-image-expanded {
  min-width: 250px;
  max-width: 270px;
}
.header-image-collapsed {
  min-width: 30px;
  max-width: 50px;
}
.header-text {
  margin-top: 15px;
  margin-left: 5px;
  font-family: "Hachi Maru Pop", cursive;
  font-size: auto;
  transition: font-size 1s;
}
.header-text-transform {
  font-size: 36px;
}
.header-text-small {
  font-size: 12px;
}
